button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover,
	&:active,
	&:focus {
		outline: none;
	}
}

.btn {
	display: inline-block;
	font-weight: $font-weight-normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: none;
	padding: 0.375em 0.75em;
	font-size: 1em;
	line-height: $font__line-height-buttons;
	border-radius: 0;
}
