$breakpoints: (
	xs: 0,
	sm: 600px,
	md: 800px,
	lg: 1024px
);

$navbar-height: 66px;

$submenu-toggle-width: 60px;
$mobile-menu-line-height: 5.6rem;

$site-max-width: 1500px;
$site-padding: 5%;

$size__site-main: 100%;
$size__site-sidebar: 25%;
