.nav-menu,
.nav-menu ul {
	margin: 0;
	list-style: none;
}

.site-navigation {

	ul ul {
		display: none;
	}

	a,
	.global-slide-menu {
		display: block;
		color: $color-white;
	}
}

#main-navigation-mobile {

	a,
	.sub-menu,
	.submenu-toggle {
		transition: $mobile-menu-transition-property $mobile-menu-transition-timing, opacity $mobile-menu-transition-timing;
	}

	&:not(.dropdown) {

		#mobile-menu-open:checked ~ .mobile-menu  {
			transform: translate3d(100vw, 0, 0);
		}
	}

	.mobile-menu {
		z-index: 9;
		overflow-y: auto;
		transform: translateZ(0);
		background-color: $color-flat-dark-darken;
		transition: $mobile-menu-transition;
		width: 100vw;
		font-size: 0.74em;
		max-height: calc( 100vh - #{$navbar-height} );
		@include admin-bar-fix(padding-bottom, $navbar-height);

		> ul {

			li {
				line-height: $mobile-menu-line-height;

				a {
					padding: 0 $site-padding;
				}
			}

			.menu-item-has-children,
			.page_item_has_children {

				> a,
				> .submenu-toggle {
					transform: translateX(0);
					opacity: 1;
				}

				> a {
					display: inline-block;
					padding-right: 0;
					//width: calc( 100% - #{$submenu-toggle-width} - #{$site-padding} );
					width: calc( 100% - #{$submenu-toggle-width} );
				}

				.submenu-toggle {
					width: $submenu-toggle-width;
					line-height: calc( #{$mobile-menu-line-height} - 1px); // border-bottom
					padding: 0;
					background-color: transparent;
					border-left: 1px solid rgba($color-off-white, 0.1);
					color: $color-off-white-darken-one;
				}
			}
		}

		.go-back > a {
			display: inline-block;
			position: relative;

			&:before {
				content: '\f104';
				font-family: 'Fontello';
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}

	&.submenu_slide {

		&.global {


			.global-slide-menu {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				background-color: $color-flat-light;
				padding: 1.25em 0;
				z-index: 5;

				> a {
					display: none;
					position: absolute;
					left: $site-padding;
					font-size: 1.2em;
				}

				&.go-back > a {
					display: block;
				}

				.current-menu {
					font-size: 1.2em;
				}
			}

			.submenu-toggle {

				&:focus,
				&:active,
				&:hover {
					background-color: $color-flat-light;
				}
			}
		}

		.sub-menu {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			transform: translateX(-100%);
			opacity: 0;
		}

		.mobile-menu {

			ul.move-out {

				> li {

					> a,
					> .submenu-toggle {
						transform: translateX(-100vw);
						opacity: 0;
					}
				}

				> li.sub-menu-active {

					> .sub-menu {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}

			> ul {

				li {

					a {
						border-bottom: 1px solid rgba($color-off-white, 0.1);
					}
				}

				.menu-item-has-children,
				.page_item_has_children {

					.submenu-toggle {
						border-bottom: 1px solid rgba($color-off-white, 0.1);
					}
				}
			}
		}
	}

	&.submenu_dropdown {

		.mobile-menu {

			> ul {

				> li {
					border-bottom: 1px solid rgba($color-off-white, 0.1);

					> .sub-menu {
						box-shadow: 0px 4px 8px 0px rgba($color-flat-dark-darkest, 0.15) inset;
					}
				}

				.menu-item-has-children,
				.page_item_has_children {

					&.sub-menu-active {

						> .submenu-toggle {

							.icon:before {
								transform: rotate(90deg);
							}
						}
					}

					.submenu-toggle .icon:before {
						transition: $mobile-menu-transition-property 0.2s $mobile-menu-transition-easing;
					}

					> ul {

						.submenu-toggle {
							border: none;
						}
					}
				}
			}

			.sub-menu {
				font-size: 90%;
			}
		}

		.sub-menu {
			background-color: darken($color-flat-dark-darken, 5%);

			li {
				padding-left: $site-padding;
			}

			a {
				color: $color-white-hover;
			}
		}
	}

	&.off_canvas {

		.mobile-menu {
			position: fixed;
			top: 0;
			left: -100vw;
			height: 100%;
			@include admin-bar-fix(margin-top, $navbar-height);
		}
	}

	&.dropdown {
		position: relative;

		.mobile-menu {
			position: absolute;
			display: none;
			top: $navbar-height;
			width: 100vw;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

#mobile-menu-open  {
	display: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
